{% load static %}
<!DOCTYPE html>
    <head>
        {% block head %}
            <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
            <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
            <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
            <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
            <script type="text/javascript" src="{% static 'js/qrcode-vue.js' %}"></script>
        {% endblock %}
    </head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">NexusCoin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                  </ul>
                  <form class="form-inline my-2 my-lg-2" action="{% url 'search' %}" method="post">
                      {% csrf_token %}
                    <input class="form-control mr-sm-2" name="search-input" type="search" placeholder="block, hash, transaction" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
              <br \>
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
    <footer class="container-fluid w-100 bg-dark text-light py-3">
            {% block footer %}

            <script>
                var url = "{{ base_url }}";
                var Vue = window.Vue;
                var VueQrcode = window.VueQrcode;
                Vue.component('qrcode', VueQrcode);
                var app = new Vue({
                    
                    delimiters : ['[[', ']]'],
                    el: '#app',
                    data: {
                        results: '',
                        msg:'',
                        status_code: '',
                        value: '',
                    },
                    component: {
                        qrcode: VueQrcode

                    },
                    filters: {
                        format_date: function(value){
                            if(value){
                                var date = moment.unix(value).format('YYYY/MM/DD HH:mm:SS ZUTC');
                                return date
                            }
                        },
                        format_date2: function(value){
                            if(value){
                                var date = moment.unix(value).format('YYYY/MM/DD HH:mm:SS');
                                return date
                            }
                        }
            
                    },
                    methods: {
                        fetch_data: function(){
                            axios.get(url).then(
                                   response => (
                                    this.results = response.data['data'],
                                    this.msg = response.data['msg'],
                                    this.status_code = response.data['status']
                                   )
                            ).catch(function(error){
                                console.log(error);
                            })
                        },
                        check_equal: function(value1, value2){
                            // Damn! JS/VueJS can't compare correctly two strings !?
                            //console.log(value1[0][0], value2[0][0])
                            //console.log(value1[0][0] == value2[0][0]);
                            if (value1[0][0] == value2[0][0]){
                                return true
                            } else {
                                return false
                            }
                        }
                    },
                    beforeMount(){
                        this.fetch_data()
                    }
                })
            </script>
            
            {% endblock %}
            {% block stickyfooter %}
                <center><a href="https://chiheb-nexus.github.io">Chiheb Nexus</a> © - 2018</center>
            
            {% endblock %}
    </footer>
</html>