{% load static %}
<!DOCTYPE html>
    <head>
        {% block head %}
            <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
            <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
            <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
            <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
            <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
        {% endblock %}
    </head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <body>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</html>